@using BTL.Models
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "TimKiem";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

@{
    var listSanPham= ViewBag.listSanPham as PagedList.IPagedList<BTL.Models.SanPhamDto>;
}

<div class="content">
    <div id="list-sanPham">
        @foreach (var item in listSanPham)
        {
            <div class="sanPham">
                <a href="@Url.Action("ChiTietSanPham", "SanPham", new { maSanPham = item.MaSanPham})"><img src="~/wwwroot/images/sanpham/@item.HinhAnh" alt="iPhone" class="sanPham-img sanPham-km-img"></a>
                <a href="@Url.Action("ChiTietSanPham", "SanPham", new { maSanPham = item.MaSanPham})" class="text-sanPham" style="width: 100%; left:0">@item.TenSanPham</a>
                <p class="giaSanPham">Giá từ:@item.Gia ₫</p>
            </div>
        }
        <div class="clear"></div>
    </div>
</div>

<br />
<div align="center">
    Trang @(listSanPham.PageCount < listSanPham.PageNumber ? 0 : listSanPham.PageNumber) / @listSanPham.PageCount
    @Html.PagedListPager(listSanPham, page => Url.Action("TimKiem",
    new {currentFilter = ViewBag.CurrentFilter, page }))
</div>


