@model BTL.Models.HoaDon

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<h3>Bạn có chắc muốn xóa</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaiKhoan.Email)
        </dd>

        <dt>
            Họ Tên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThongTinLienHe_KhachHang.HoTen)
        </dd>

        <dt>
            Tổng Tiền
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TongTien)
        </dd>

        <dt>
            Ngày lập hóa đơn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayLapHoaDon)
        </dd>

        <dt>
           Trạng thái
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" style="border-radius:8px" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>
@if (ViewBag.Error != null)
{
    <br />
    <div class="alert alert-danger" role="alert">@ViewBag.Error</div>
}






