@model BTL.Models.HoaDon

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>HoaDon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TaiKhoan.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaiKhoan.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThongTinLienHe_KhachHang.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThongTinLienHe_KhachHang.HoTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TongTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TongTien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayLapHoaDon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayLapHoaDon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaHoaDon }) |
    @Html.ActionLink("Back to List", "Index")
</p>
