@model IEnumerable<BTL.Models.HoaDon>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center">Quản lý hóa đơn</h2>

<table class="table">
    <tr>
        <th>
            Tên khách hàng
        </th>
        <th>
           Tổng Tiền
        </th>
        <th>
           Ngày lập hóa đơn
        </th>
        <th>
            Trạng thái
        </th>
    
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ThongTinLienHe_KhachHang.HoTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TongTien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayLapHoaDon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrangThai)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id = item.MaHoaDon }) |
            @Html.ActionLink("Xóa", "Delete", new { id = item.MaHoaDon }) |
            @Html.ActionLink("Chi Tiết", "Details", new { id = item.MaHoaDon })
        </td>
    </tr>
}

</table>
