@model IEnumerable<BTL.Models.ThongTinShop>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center">Quản Lý Thông Tin Shop</h2>

<table class="table">
    <tr>
        <th>
           Địa chỉ
        </th>
        <th>
            Email
        </th>
        <th>
            Số điện thoại
        </th>
        <th>
            Tên shop
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DiaChi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoDienThoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenShop)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.MaLienHeShop }, htmlAttributes: new { @class = "btn btn-success btn-sm" })
        </td>
    </tr>
}

</table>
